.btn{
    background-color: var(--accent);
    color: white;
    border-radius: 5px;
    transition: all 0.6s;
    padding: var(--espacements-small);
    text-align: center;
    border: 2px solid  var(--accent);
    cursor: pointer;
    fill: white;
}

.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid  var(--accent);
    fill: black;
}

.btn:active, .btn:visited{
    color: white;
}

.btn:active:hover, .btn:visited:hover{
    color: black;
}

.btn-reverse{
    background-color: white;
    color: black;
    border: 2px solid  var(--accent);
    padding: var(--espacements-small);
    border-radius: 5px;
   transition: all 0.6s;
} 

.btn-close svg{
    width: 35px;
    height: 35px;
}