/* 
    Dans bouteilles/show
    Le comportement des cartes de commentaires
*/
.carte_commentaire{
    display: flex;
    flex-direction: column;
    padding: var(--espacements-small);
    background-color: var(--neutral);
    margin-top:var(--espacements-small);
    border-radius: 10px; 
}

.carte_commentaire p{
    padding-left: var(--espacements-small);
    border-left: 2px solid var(--primary);
    color:var(--primary);
}

.carte_commentaire small{
    display: flex;
    justify-content: flex-end;
    margin-top: var(--espacements-x_small);
    padding-right: var(--espacements-x_small);
    color: var(--primary);
}