.formBtl > h1{
    margin-inline: var(--espacements-medium);
    text-align: center;
    margin-bottom: var(--espacements-medium);
}

.formBtl_section{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--espacements-x_large);
    align-items: center;
}

.formBtl_section h1, .formBtl_form h1{ 
    margin-bottom: var(--espacements-medium)
}

.formBtl_section.suggestion_section h1{
    margin-block: var(--espacements-small);
}

.formBtl_search-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--espacements-medium);
}

.formBtl_search{
    position: relative;
    display: inline-block;

    width: 100%;
}

.formBtl_search input{
    width: 100%;
    border-radius: 20px;
    padding-right: 30px;
}

  

.formBtl_search form input, .formBtl_search form select{
    margin-top: 10px;
    margin-bottom: 10px;
}


.formBtl_search th{
    text-align: initial;
    padding-right: 10px;
    display: flex;
}

.formBtl_search table{
    border-collapse: separate;
    border-spacing: 5px;
}

.suggestion_section h1:first-of-type{
    max-width: max-content;
}

/* .modal-SAQ{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,.3);
    background-color: var(--neutral);
    border-radius: 20px;
    padding: 20px;
    
} */


/* .modal-SAQ{
    position: fixed;
    top: 0%;
    right: 0;
    /* bottom: 10%; */
    /*left: 0;
    margin: 30px;
    z-index: 100;
} */


/* .btnWrapper{
    display: flex;
    justify-content: space-between;
}

.btnWrapper > * {
    max-width: 40%;
}

.btnWrapper .modal-button-confirm{
    color: white;
} */


.formBtl_section-recherche{
    width: 100%;
}

.formBtl_section-recherche h1{
    margin-inline: auto;
}

.formBtl_search li{
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.suggestion_scroll{
    overflow: auto;
    max-height: 50vh;
}



.formBtl_search button img{
    width: 30px;
    position: absolute;
    top: 30%;
    right: 10px;
    transform: translateY(-50%);
}


.formBtl_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.formBtl_form h1{
    text-align: center;
}

.formBtl_form input ,.formBtl_form textarea,.formBtl_form select{
    margin-bottom: var(--espacements-small);  
}
 
.formBtl_form textarea,.formBtl_form select,.formBtl_form input:not([type=file],[type=submit]),.formBtl_form a{
    margin-bottom: var(--espacements-small);
    border-radius: 20px;
    resize: none;
}
.formBtl_form a{
   display: flex;
   justify-content: center;
 
}

.formBtl_form div{
    display: flex;
    margin-bottom: var(--espacements-small);
    align-items: last baseline;

}


.textError{
    color: red;
    font-weight: bold;
}



.formBtl_file{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.formBtl_file + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.formBtl_ajoutF{
    width: 25px;
    display: inline;
}

.formBtl_ajoutL{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--espacements-small);
}
