.liste-btl_head{
    display: flex;
    align-items: flex-end;
    margin-left: var(--espacements-medium);
    margin-top: var(--espacements-medium);
    margin-bottom: var(--espacements-medium);
}

.liste-btl_head img{
    margin-right: var(--espacements-small);
}

.liste-btl_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--espacements-x_small);
    border-bottom: 2px solid var(--primary);
}

.liste-btl_title a svg{
    width: 25px;
}

.liste-btl_liste{
    display: flex;
    flex-direction: column;
    margin-top: var(--espacements-small);
    gap: var(--espacements-small);
}

.liste-btl_carte{
    display: flex;
    flex-direction: column;
    background:  var(--neutral);
    gap: var(--espacements-x_small); 
    padding: var(--espacements-x_small);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px;   
}

.liste-btl_img{
    width: 75px;
} 

.liste-btl_img_alt{
    width: 50%;
    margin: auto;
}

.liste-btl_info{
    display: flex;
    flex-direction: column;
    gap: var(--espacements-x_small);
    justify-content: space-between;
    width: 100%;
}

.liste-btl_info section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.liste-btl_tete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.liste-btl_tete_pays{
    display: flex;
    align-items: center;
    gap: var(--espacements-x_small);
}

.liste-btl_tete_pays svg{
    width: 20px;
    height: 20px;
}

.liste-btl_corps{
    display: flex;
    gap: var(--espacements-small);
}

.liste-btl_info_etoile {
    display: flex;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.liste-btl_info_etoile svg{
    width: 17px;
}

.liste-btl_info{
    font-size: 18px;
}

.liste-btl_img .saq{
    margin-top: var(--espacements-small);
}

.liste-btl_info_bouteilles{
    display: flex;
} 

.liste-btl_info_bouteilles svg{
    width: 40px;
}

.liste-btl_info_bouteilles input{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 0;
    color: black;
}

.liste-btl_vide > p {
    text-align: center;
    margin-bottom: var(--espacements-medium);
}

.liste-btl_vide > a {
    display: block;
    width: 100%;
}