  .liste_celliers{
    margin: var(--espacements-medium);
    margin-bottom: 100px;
  }

  .liste_celliers .grid__celliers{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr)) ;
    margin:  var(--espacements-medium) 0;
    grid-gap: var(--espacements-medium);   
  }

  .liste_celliers  .header,  .header div {
    display: flex;
    align-items: center;
  }

  .liste_celliers .header div a:first-child{
    padding-right: var(--espacements-x_small);
    border-right: var(--primary) solid 2px;
  }

  .liste_celliers .header{
    justify-content: space-between;
    border-bottom: var(--primary) solid 2px;
  }

  .liste_celliers .card__cellier{
    display: flex;
    background-image: url("../../img/photos/fond_cellier.jpg");
    background-color: var(--neutral);
    background-position: center;
    background-size: cover;
    position: relative; 
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 40px 0;
    font-size: var(--espacements-medium);
    max-height: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;   
    border-radius: var(--espacements-x_small);
    box-sizing: border-box;
  }

  .liste_celliers .card__cellier a{
    background-color: var(--accent_fade);
    width: 100%;
    /* padding: var(--espacements-medium) 0; */
  }

  .liste_celliers a svg{
    width: var(--espacements-medium);
  }
  

 .liste_celliers>a{
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: larger;
 }
  