
.login_section{
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-top: var(--espacements-large);
}

.login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
     margin-top: var(--espacements-medium);
}
login_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}