.note {
    width: 30px;
    cursor: pointer;
}

.note_vide {
    color: white;
    stroke: black;
}

.note_hover {
    color: grey;
    stroke: grey;
}

.note_jaune {
    color: rgb(225, 225, 10);
    stroke: rgb(125, 125, 5);
}