.note {
    width: 30px;
    cursor: pointer;
}

.note_vide {
    color: white;
    stroke: black;
    padding: 0;
}

.note_hover {
    color: grey;
    stroke: grey;
}

.note_couleur {
    color: var(--accent);
    stroke: var(--accent);
}