.triage, .triage > * {
    display: flex;
    flex-direction: row;
    gap: var(--espacements-small);
}

.triage > * {
    flex: 1 1 0;
    justify-content: space-between;
}

.triage > select {
    margin-bottom: 0;
    font-size: 0.9rem;
    padding: 0.2rem 0.75rem;
}