.main_admin {
    margin: var(--espacements-large)  ;
    padding-bottom: var(--espacements-large);
}

.main_admin table {
    width: 100%;
    margin: var(--espacements-large) auto 0;
    border-spacing: 0;
}

.top {
  position: sticky;
  top: 0;
  background-color: white;
}

.main_admin th {
    font-size: 1.15rem;
    text-align: left;
    padding: var(--espacements-small);
}

.main_admin td {
    padding: var(--espacements-small);
}

.main_admin tr:first-of-type {
    border-bottom: solid black 3px;
}

.main_admin tr:nth-child(even){
    background-color: var(--neutral);
}

.main_admin a{
    margin: 0;
}

.admin_main_membres button {
    background-color: white;
    padding: var(--espacements-x_small);
    border-radius: var(--espacements-x_small);
    box-sizing: border-box;
    font-weight: 600;
}

.admin_main_membres .btn, .admin_main_membres .btn:visited{
    color: rgb(0, 180, 30);
    border: 2px solid rgb(0, 180, 30);
    padding: 10px;
    background-color: white;
    fill: black;
}

.admin_main_membres .btn:hover {
    color: white;
    background-color: rgb(0, 180, 30);
}

.admin_main_membres .btn-reverse {
    color: rgb(225, 0, 0);
    border: 2px solid rgb(225, 0, 0);
    padding: 10px;
}

.admin_main_membres .modal_btn-delete>.btn-reverse {
    width: initial;
}

.admin_main_membres .btn-reverse:hover {
    color: white;
    background-color: rgb(225, 0, 0);
}

.admin_main_membres .admin_btn{
    display: flex;
    justify-content: flex-end;
    gap: var(--espacements-medium);
    margin-block: var(--espacements-small);
}

.main_admin input[type=submit]{
    font-weight: 600;
}

.main_admin h1{
    margin-bottom: var(--espacements-medium);
}