.nav_admin{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--secondary);
    justify-content: space-between;
    padding: var(--espacements-small) var(--espacements-medium) ;
}

.nav_admin > * {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_admin span {
    margin-right: var(--espacements-medium);
}

.nav_admin nav > *+* {
    margin-left: var(--espacements-medium);
}

.nav_admin a{
    color: white;
}

.nav_admin a:hover {
    text-decoration: underline;
    text-underline-offset: var(--espacements-x_small);
}