 .pagination_admin{
  display: flex;
  justify-content: flex-end;
  background-color: var(--accent);
  color: white;
  padding: var(--espacements-small);
}

.pagination_admin ul li {
  display: inline-block;
  width: auto;
  margin-inline: var(--espacements-x_small);
  border: 2px solid transparent;

}

.pagination_admin ul li:hover, 
.pagination_admin ul li:focus {
  border: 2px solid white ;
  border-radius: 20px;
}

.pagination_admin  a, .pagination_admin  span{
  border: 2px solid transparent;
  padding: 5px 10px;
  font-size: 20px;
  font-family: 'Red Hat Mono', monospace;
}

.pagination_admin .active {
  border-radius: 50px;
  color: var(--accent);
  background-color: white;
  font-size: 20px;
}

/* Disabled & Hidden Styles */
.pagination_admin .disabled,
.pagination_admin [hidden],
.pagination_admin [disabled] {
  opacity: .5;
  pointer-events: none;
}


