html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--font-base);
  scroll-behavior: smooth;
  line-height: 1.5;
}

main{
  margin: var(--espacements-medium) var(--espacements-small) var(--espacements-large_plus);
}

a{
  text-decoration: none;
  font-family: var(--font-base);
  color: inherit;
}

img{
  max-width: 100%;
}

h1{
  font-weight: 700;
  font-size: 25px;
}

h3{
  font-size: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

details summary::marker {
  font-size: 25px;
  color: var(--accent);
} 

.retour{
  color: var(--accent);
  text-decoration: underline;
  text-transform: uppercase;
  padding-bottom: var(--espacements-small);
  font-size: 15px;
  display: flex;
}

.retour:visited, .retour:active{
  color: var(--accent);
}
.retour svg{
  display: inline;
  width: 20px;
}

[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}


select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

*, ::before, ::after {
    box-sizing: border-box; 
    border-width: 0; 
    border-style: solid; 
    border-color: #e5e7eb; 
}

button, [role="button"] {
    cursor: pointer;
}

button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;

}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}