/* -------------------- Importation de fichiers CSS -------------------- */

/*-------- Import généraux---------*/
@import "./theme.css";
@import "./general.css";

/*-------- Import éléments---------*/
@import "./elements/navigation.css";
@import "./elements/retourAction.css";


/*-------- Import composants---------*/
@import "./composants/welcome.css";
@import "./composants/login.css";
@import "./composants/register.css";
@import "./composants/liste_celliers.css";
@import "./composants/formCellier.css";
@import "./composants/btl.css";
@import "./composants/btn.css";
@import "./composants/formBtl.css";
@import "./composants/liste-btl.css";
@import "./composants/modal.css";
@import "./composants/carte_commentaire.css";
@import "./composants/note.css";
@import "./composants/profil.css";
@import "./composants/triage.css";
@import "./composants/grid.css";
@import "./composants/svg-corbeille.css";


/*-------- Import administration ---------*/
@import "./admin/general_admin.css";
@import "./admin/main_admin.css";
@import "./admin/nav_admin.css";
@import "./admin/pagination_admin.css";
@import "./admin/stats.css";
@import "./admin/scraper_admin.css";
@import "./admin/pagination_admin.css";
@import "./admin/formulaire_admin.css";

