
/*- ----------------- header --------------------*/

header{
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    position: sticky;
   padding: var(--espacements-small) ;
   z-index: 10;
}

header span svg{
        width: 40px;
         
    }

/*------------------ nav----------------------- */

footer nav{
  z-index: 10;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding:0 var(--espacements-small); 
}


footer nav a img{
    width: 40px;
}


footer nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }

  footer nav a:hover {
    background: var(--neutral);
    color: var(--primary);
  }


/*------------------ fin nav----------------------- */